@media (min-width: 320px){
    .Home__container{
        @include center;
        justify-content: flex-start;
        color: white;
        height: 100%;
        h1{
            font-size: $m1h1;
        }
        p{
            width: 80%;
            text-align: center;
            font-size: $m1p;
        }
        .Home__menuContainer{
            .Home__menu{
                @include center;
                justify-content: flex-start;
                width: 100%;
                height: 20rem;
                margin-bottom: 2rem;
                .Icon{
                    @include center;
                    width: 50%;
                    height: 100%;
                    flex: 8;
                }
                .btn{
                    height: 5rem;
                    width: 12rem;
                    flex: 1;
                    margin-top: 1rem;
                    background-color: black;
                    color: white;
                    padding: .5rem;
                    text-align: center;
                    border-radius: 2rem;
                    box-shadow: 5px 5px 8px 2px rgba(0,0,0,0.61);
                }
            }
        }
    }
}