@media (min-width: 320px){
    .Home__container{
        @include center;
        justify-content: flex-start;
        height: 100%;
        text-align: center;
        background-color: antiquewhite;
        .Home__mainContainer{
            flex: 2;
            h1{
                font-size: $m1h1;
                color: #97C93E;
            }
            h2{
                font-size: $m1h2;
            }
            h3{
                font-size: $m1h2;
            }
            p{
                margin: 1rem 0;
                text-align: center;
                font-size: $m1p;
            }
            ul{
                @include center;
                li{
                    list-style: circle;
                    font-size: 1.2rem
                }
            }
        }
        .Home__menuContainer{
            width: 100%;
            flex: 1;
            .Home__menu{
                @include center;
                background-color: black;
                justify-content: flex-start;
                width: 100%;
                padding: .5rem 0;
                :last-child{
                    margin-bottom: 0;
                }
                a{
                    display: flex;
                    flex-direction: row;
                    margin-bottom: .5rem;
                    width: 100%;
                    background-color: #F6DF1C;
                    color: black;
                    .Img{
                        @include center;
                        flex: 30;
                        img{
                            width: 3.5rem;
                            height: 3.5rem;
                        }
                    }
                    .Textos{
                        text-align: left;
                        flex: 70;
                        h3{
                            font-size: 1.3rem;
                        }
                        h2{
                            font-size: 1.2rem;
                        }
                        p{
                            font-size: 1rem;
                        }
                    }
                }
            }
        }
    }
}