@media (min-width: 320px){
    nav{
        @include center;
        width: 100%;
        height: fit-content;
        background-color: black;
        .logo{
            display: none;
        }
        div{
            @include center;            
            width: 100%;
            img{
                transition: all .5s ease;
            }
            .invertido{
                transform: rotate(180deg);
            }
        }
        ul{
            display: flex;
            flex-direction: column;
            padding: .5rem;
            width: 100%;
            li{
                @include center;
                padding: .5rem;
                list-style: none;
                font-size: 1.2rem;
                a{
                    color: #FFE268;
                    border-bottom: white 3px solid;
                }
            }
            .Logos{
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                img{
                    width: 6rem;
                    height: 2.5rem;                        
                    &:last-child{
                        width: 4rem;
                        height: 4rem;                        
                    }
                }
            }
        }
        .hide{
            display: none;
        }
    }
}