@media (min-width: 480px){
    .Figuras__container{
        h1{
            font-size: $t1h1;            
        }
        h2{
            font-size: $t1h2;
            margin-bottom: $t1h2;
        }
        .Figuras__seccion{
            .Figuras__seccionTitulo{
                h3{
                    font-size: $t1h3;
                }
                img{
                    width: 45px;
                    height: 45px;
                }
            }
            p{
                font-size: $t1p;
            }
            button{

            }
        }
        .Figuras__Resultados{
            .Figuras__Resultado{
                h3{

                }
                p{

                }
            }
        }
    }
}
@media (min-width: 600px){
    .Figuras__container{
        .Figuras__Resultados{
            .Figuras__Resultado{
                h3{
                    font-size: 1.4rem;
                }
                p{
                    font-size: 1.4rem;
                }
            }
        }
    }
}
