@media (min-width: 1024px){
    nav{
        @include center;
        width: 100%;
        height: fit-content;
        position: sticky;
        top: 0;
        background-color: black;
        flex-direction: row;
        .logo{
            display: block
        }
        .Logo__container{
            flex: 1;
            .platzi{
                width: 9rem;
                height: 3rem;
            }
            .js{
                height: 4rem;
            }
        }
        div{
            width: 0;
            img{
                display: none;
            }
        }
        ul{
            @include center;
            flex: 2;
            width: fit-content;
            display: flex;
            flex-direction: row;
            padding: .5rem;
            li{
                @include center;
                padding: .5rem;
                list-style: none;
                font-size: 1.2rem;
                a{
                    color: #FFE268;
                    border-bottom: white 3px solid;
                    &:hover{
                        border-bottom: #FFE268 2px solid;
                    }
                    &:active{
                        border-bottom: #FFE268 1px solid;
                    }
                }
            }
            .Logos{
                display: none;
            }
        }
        .hide{
            display: flex;
        }
    }
}