$primary: #23465B;
$sec: #F3F8FB;

// Mobile
$m1h1: 2.2rem;
$m1h2: 1.5rem;
$m1h3: 1.5rem;

$m1p: 1.2rem;

// Tablet
$t1h1: 2.5rem;
$t1h2: 1.8rem;
$t1h3: 1.8rem;

$t1p: 1.3rem;
$t2p: 1.4rem;

// Desktop
$d1h1: 3rem;
$d1h2: 2rem;
$d1h3: 1.8rem;

$d2h1: 3rem;
$d2h2: 2.2rem;

$d1p: 1.5rem;
$d2p: 1.6rem;